@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.Header {
  background-color: rgb(138, 46, 224);
  background-image: linear-gradient(to right, rgb(128, 24, 224), rgb(157, 85, 224));
  color:#ffffff;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Karla', sans-serif;
}

.Title {
  padding-left: 30px;
  font-weight: bold;
  font-size: 20px;
}

.Course {
  padding-right: 30px;
}

.MemeForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  padding: 3rem;
}

input {
  font-family: 'Karla', sans-serif;
}

input[type="text"] {
  border: 2px solid rgb(190, 190, 190);
  height: 1.1rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

input[type="text"]:focus {
  border: 2px solid rgb(170, 170, 170);
  outline: none;
}

.SubmitButton {
  grid-column: 1 / span 2;
  background-image: linear-gradient(to right, rgb(128, 24, 224), rgb(157, 85, 224));
  color: white;
  border: none;
  height: 2.7rem;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.05em;
  border-radius: 5px;
  cursor: pointer;
}

.memeImages {
  width: 50%;
  height: 50%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
